@import url("./mobile_devices.css");
@import url("./large_devices.css");
@import url("./custom.css");

/* univeral */
html,
body{
    height: 100%;
}


/* text styles*/
h4,
h5,
h3,
h2,
h1{
    color: rgb(5, 102, 131);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 6px;
}
p{
    color: rgba(78, 77, 77, 0.856);
}


